@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --accent1: #1e4f9e;
    --accent2: #fdbb2d;
    --cream: #f9ecb6;

    /* escala de grises, para sombras y colores oscuros */
    --gray90: hsl(0, 0%, 90%);
    --gray80: hsl(0, 0%, 80%);
    --gray70: hsl(0, 0%, 70%);
    --gray60: hsl(0, 0%, 60%);
    --gray10: hsl(0, 0%, 10%);
    --gray5: hsl(0, 0%, 5%);

    /* Espaciado, para definir margenes y padding estandares */
    --xxs: .25rem;
    --xs: .5rem;
    --s: .75rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.75rem;
    --xxl: 2.5rem;

    /* estilos de fuentes */
    /* clamp() sirve para definir tamaños de fuente fluidos segun el viewport */
    /* herramienta utilizada: https://royalfig.github.io/fluid-typography-calculator/ */
    --fuente: "Poppins", sans-serif;
    --h1: bold clamp(2rem, 1.6rem + 2vw, 4rem)/1em var(--fuente);
    --h2: bold clamp(1.75rem, 1.4rem + 1.7500000000000002vw, 3.5rem)/1.2em var(--fuente);
    --h3: bold clamp(1.5rem, 1.2rem + 1.5vw, 3rem)/1.2em var(--fuente);
    --h4: bold clamp(1.25rem, 1rem + 1.25vw, 2.5rem)/1.6em var(--fuente);
    --general: nomal clamp(1rem, 0.95rem + 0.25vw, 1.25rem)/1.6em var(--fuente);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    background: linear-gradient(135deg, var(--gray10), var(--gray5));
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
    line-height: 1.2em;
    text-align: center;
}

h3 {
    font: var(--h3);
}

h4 {
    font: var(--h4);
}

p {
    font: var(--general);
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

header {
    width: 90%; 
    margin: 0 auto;
    color: white;
    margin-bottom: var(--xl);
}

.html_css {
    display: flex;
}

.texto_header {
    text-align: center;
}

.accent {
    color: var(--accent2);
}

.texto_header h1 {
    margin: var(--xl) 0; 
    background: -webkit-linear-gradient(0deg, rgba(30,79,158,1) 32%, rgba(253,187,45,1) 99%)  ;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;;
}

.authors {
    margin: var(--l) 0;
}

.authors h2 {
    margin: var(--s) 0;
    font-weight: 500;
}

#bio {
    margin: var(--s) 0;
}

.call_to_action {
    margin: var(--m) 0;
    margin-bottom: var(--l);
    display: inline-block;
    background-color: var(--accent2);
    padding: var(--s);
    border-radius: var(--xs);
    font: var(--h4);
    color: var(--accent1);
}

.sobre_materia {
    padding: var(--l);
    color: white;
    background: var(--accent1);
}

.sobre_materia .content h2 {
    margin-bottom: var(--l);
}

.sobre_materia .content div p {
    margin: var(--m) 0;
}

.guias {
    width: 90%;
    margin: 0 auto;
    color: white;
}

.guias h2 {
    margin: var(--l) 0;
    background: -webkit-linear-gradient(0deg, rgba(30,79,158,1) 32%, rgba(253,187,45,1) 99%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;;
}

.guia_card {
    padding: var(--s);
    margin: var(--l) 0;
}

.guia_card .card_header {
    text-align: center;
    background: black;
    padding: var(--m);
}

.guia_card .card_content {
    padding: var(--m);
    background: linear-gradient(to bottom, var(--gray90), var(--gray80));
    color: black;
}

.guia_card .card_content label {
    display: inline-block;
    background: black;
    color: white;
    border: none;
    font: var(--general);
    margin: var(--s) 0;
    padding: var(--m);

}

/* Sirve para seleccionar el elemento que tenga un input checkbox como elemento siguiente */
.guia_card .card_content  label:has(+ input[type="checkbox"]:checked) {
    background-color: red;
}

.guia_card .card_content label+input[type="checkbox"] {
    display: none;
}

.dropdown {
    background: black;
    position: absolute;
}

.dropdown .ejercicios_guia {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: var(--m);
}

.dropdown .ejercicios_guia a {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: var(--s) 0;
}

input[type="checkbox"]:not(:checked)+.dropdown {
    display: none;
}


