@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --accent1: #1e4f9e;
    --accent2: #1b9437;
    --cream: #f9ecb6;

    --accent-gradient: -webkit-linear-gradient(0deg, rgba(30,79,158,1) 32%, rgba(27,148,55,1) 99%);

    /* escala de grises, para sombras y colores oscuros */
    --gray90: hsl(0, 0%, 90%);
    --gray80: hsl(0, 0%, 80%);
    --gray70: hsl(0, 0%, 70%);
    --gray60: hsl(0, 0%, 60%);
    --gray10: hsl(0, 0%, 10%);
    --gray5: hsl(0, 0%, 5%);

    /* Espaciado, para definir margenes y padding estandares */
    --xxs: .25rem;
    --xs: .5rem;
    --s: .75rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.75rem;
    --xxl: 2.5rem;

    /* estilos de fuentes */
    /* clamp() sirve para definir tamaños de fuente fluidos segun el viewport */
    /* herramienta utilizada: https://royalfig.github.io/fluid-typography-calculator/ */
    --fuente: "Poppins", sans-serif;
    --h1: bold clamp(2rem, 1.6rem + 2vw, 4rem)/1em var(--fuente);
    --h2: bold clamp(1.75rem, 1.4rem + 1.7500000000000002vw, 3.5rem)/1.2em var(--fuente);
    --h3: bold clamp(1.5rem, 1.2rem + 1.5vw, 3rem)/1.2em var(--fuente);
    --h4: bold clamp(1.25rem, 1rem + 1.25vw, 2.5rem)/1.6em var(--fuente);
    --general: nomal clamp(1rem, 0.95rem + 0.25vw, 1.25rem)/1.6em var(--fuente);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    background: linear-gradient(135deg, var(--gray10), var(--gray5));
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
    line-height: 1.2em;
    text-align: center;
}

h3 {
    font: var(--h3);
}

h4 {
    font: var(--h4);
}

p {
    font: var(--general);
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

header {
    width: 90%; 
    margin: 0 auto;
    color: white;
    margin-bottom: var(--xl);
}

.html_css {
    display: flex;
}

.texto_header {
    text-align: center;
}

.accent {
    color: var(--accent2);
}

.texto_header h1 {
    margin: var(--xl) 0; 

    background: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.authors {
    margin: var(--l) 0;
}

.authors h2 {
    margin: var(--s) 0;
    font-weight: 500;
}

#bio {
    margin: var(--s) 0;
}

.call_to_action {
    margin: var(--m) 0;
    margin-bottom: var(--l);
    display: inline-block;
    background-color: var(--accent2);
    padding: var(--s);
    border-radius: var(--xs);
    font: var(--h4);
    color: var(--accent1);
}

.sobre_materia {
    padding: var(--l);
    color: white;
    background: var(--accent1);
}

.sobre_materia .content h2 {
    margin-bottom: var(--l);
}

.sobre_materia .content div p {
    margin: var(--m) 0;
}

.guias {
    width: 90%;
    margin: 0 auto;
    color: white;
}

.guias h2 {
    margin: var(--l) 0;
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.guia_card {
    padding: var(--s);
    margin: var(--l) 0;
}

.guia_card .card_header {
    text-align: center;
    background: black;
    padding: var(--m);
}

.guia_card .card_content {
    padding: var(--m);
    background: var(--gray90);
    color: black;
}

.guia_card .card_footer {
    padding: var(--m);
    background: var(--gray90);
    color: black;
}

.guia_card .card_footer label {
    display: inline-block;
    background: black;
    color: white;
    border: none;
    font: var(--general);
    margin: var(--s) 0;
    padding: var(--m);

    transition: background-color 1s;
    position: relative;
    z-index: 10;
}

.guia_card .card_footer label::before {
    position: absolute;
    content: "";
    inset: 0;
    background-image: linear-gradient(90deg, rgba(30,79,158,1) 32%, rgba(27,148,55,1) 99%);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.25s linear;
}

/* Para agregar efectos de transicion a los botones de los ejercicios */
.guia_card .card_footer label:hover::before,
.guia_card .card_footer  label:has(+ input[type="checkbox"]:checked)::before {
    opacity: 1;
    transition: 0.25s;
}

/* Sirve para seleccionar el elemento que tenga un input checkbox como elemento siguiente */

.guia_card .card_footer label+input[type="checkbox"] {
    display: none;
}

.dropdown {
    background: black;
    position: absolute;
    z-index: 100;
}

.dropdown .ejercicios_guia {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: var(--m);
}

.dropdown .ejercicios_guia a {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: var(--s) 0;
}

input[type="checkbox"]:not(:checked)+.dropdown {
    display: none;
}


#foda h2 {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: var(--xl) 0;
    font: var(--h1);
}

.container_foda {
    display: flex;
    flex-direction: column;
}

.container_foda div:nth-child(2n) {
    background-color: var(--accent2);
}

.container_foda div:nth-child(2n-1) {
    background-color: var(--accent1);
}

#fortalezas, #oportunidades, #desafios, #amenazas {
    color: white;
    padding: var(--m) var(--l);
}

.container_foda ul {
    list-style-position: inside;
}

.container_foda h3 {
    margin: var(--s) 0;
    margin-bottom: var(--xxs);
}

.container_foda p {
    opacity: 0.7;
    font-style: italic;
    margin-bottom: var(--m);
}

#retroalimentacion {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#retroalimentacion h2 {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: var(--xl) 0;
}

#retroalimentacion .feed_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, var(--gray90), var(--gray80));
    margin: var(--l) 0;
}

#retroalimentacion .feed_card img {
    width: 30%;
    margin-top: var(--m);
}

#retroalimentacion .feed_card h3 {
    color: var(--accent2);
    margin: var(--l) 0;
}

.feed_card .feed_body {
    background-color: var(--accent1);
    width: 100%;
    color: white;
    padding: var(--l);
}

.feed_card .feed_body ul {
    list-style-position: inside;
    padding: var(--l);
}

.feed_card .feed_body ul li {
    margin: var(--xs) 0;
    font: var(--general);
}

#aprendizaje {
    color: white;
}

#aprendizaje h2 {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: var(--xl) 0;
}

#aprendizaje .resource_card {
    padding: var(--xl);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    background: var(--accent2);
    width: 85%;
    margin: var(--l) auto;
    overflow: hidden;
}

#aprendizaje .resource_card::before {
    display: block;
    position: absolute;
    content: "";
    width: 38vw;
    height: 38vw;
    border-radius: 50%;
    background-color: var(--accent1);
    top: -12vw;
    right: -12vw;
}

#aprendizaje .resource_card:nth-child(4) img {
    width: 60%;
    margin: var(--xxl) auto;
    display: block;
}

#aprendizaje .resource_card h3 {
    margin: var(--l) 0;
}

#a_continuacion {
    color: white;
}

#a_continuacion > p {
    text-align: center;
}

#a_continuacion h2 {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: var(--xl) 0;
}

#a_continuacion ul {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#a_continuacion ul li {
    display: flex;
    background-color: var(--accent1);
    margin: var(--m) 0;
    padding: var(--xl) var(--s);
}

#a_continuacion ul li .position_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--h3);
}

#a_continuacion ul li img {
    width: 40%;
}


footer {
    background: var(--accent2);
    text-align: center;
    padding: var(--l);
    font: var(--general);
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 2rem;
}

@media (width >= 469px) and (width <= 1024px) {

    .sobre_materia .content {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    .sobre_materia .content div p {
        margin-bottom: 3rem;
    }

    #guias h2 {
        margin-top: 3rem;
    }

    #guias .container_guias {
        width: 80%;
        margin: 0 auto;
    }

    .guia_card .card_content {
        padding: 1rem 3rem;
    }

    .guia_card .card_footer {
        padding-left: 3rem;
    }

    #foda h2 {
        margin-top: 3rem;
    }

    #fortalezas, #oportunidades, #desafios, #amenazas {
        padding: 2rem 3rem;
    }

    #retroalimentacion .feed_layout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #retroalimentacion .feed_layout .feed_card {
        width: 40%;
    }

    #retroalimentacion .feed_layout .feed_card .feed_body {
        height: 100%;
        padding: 2rem;
    }

    #aprendizaje h2 {
        margin-top: 3rem;
    }

    #aprendizaje .resource_container {
        width: 75%;
        margin: 0 auto;
    }

    #aprendizaje .resource_card::before {
        width: 22vw;
        height: 22vw;
        top: -8vw;
        right: -8vw;
    }

    #aprendizaje .resource_card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aprendizaje .resource_card img {
        width: 50%;
        margin-bottom: 2rem;
    }


    #a_continuacion h2 {
        margin-top: 5rem;
    }

    #a_continuacion ul {
        width: 65%;
    }

    #a_continuacion ul li {
        padding: 2rem;
    }

    footer {
        font-size: 1rem;
    }
}

@media (width >= 1025px) {


    header {
        display: flex;
        width: 75%;
        margin: var(--xl) auto;
        gap: 5rem;
    }

    header .html_css {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: inherit;
    }

    .call_to_action {
        margin: var(--xxl) 0;
        padding: var(--xl);
    }

    header .html_css img {
        display: block;
    }

    .sobre_materia {
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .sobre_materia .content h2 {
        margin-bottom: 3rem;
    }

    .sobre_materia .content div {
        display: flex;
        gap: 2rem;
    }

    .sobre_materia .content div .center {
        flex: 5
    }

    .sobre_materia .content div img {
        flex: 3;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center p {
        font-size: 1.3em;
    }


    #guias h2 {
        margin-top: 3rem;
    }

    .container_guias {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .container_guias .guia_card {
        width: 33%;
        display: flex;
        flex-direction: column;
    }

    .container_guias .guia_card .card_content {
        height: 100%;
        padding: 2rem;
    }

    .container_guias .guia_card .card_content p {
        margin-bottom: 2rem;
    }

    .container_guias .guia_card .card_footer {
        padding: 0 var(--xl);
        padding-bottom: var(--m);
    }


    #foda h2 {
        margin-bottom: 3rem;
    }

    .container_foda {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 70%;
        margin: 0 auto 3rem;
        gap: 0.5rem;
    }

    #fortalezas, #oportunidades, #desafios, #amenazas {
        width: calc(50% - 1rem);
        padding: 2rem;
    }

    #retroalimentacion h2 {
        margin-bottom: 2rem;
    }

    #retroalimentacion .feed_layout {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    #retroalimentacion .feed_layout .feed_card {
        flex: 1;
    }

    #retroalimentacion .feed_layout .feed_card .feed_body {
        height: 100%;
    }

    #retroalimentacion .feed_layout .feed_card:nth-child(4) img {
        margin: 1rem 0;
    }

    #aprendizaje h2 {
        margin: 5rem 0;
    }

    #aprendizaje .resource_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }    

    #aprendizaje .resource_container .resource_card {
        width: 25%;
        margin: 0;
    }

    #aprendizaje .resource_card::before {
        width: 10vw;
        height: 10vw;
        top: -5vw;
        right: -5vw;
    }

    #aprendizaje .resource_card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aprendizaje .resource_card img {
        width: 80%;
        margin-bottom: 2rem;
    }

    #a_continuacion h2 {
        margin-top: 5rem;
    }

    #a_continuacion ul {
        width: 50%;
    }

    #a_continuacion ul li {
        padding: 3rem;
    }

    footer {
        font-size: 1.2rem;
    }

}
